* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
    overflow: scroll;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #000000;
}
.contenedor {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body h1 {
    font-size: 4em;
    margin-bottom: 50px;
}

.contenido {
    position: relative;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido .imagen {
    position: relative;
    width: 70vh;
    height: 35vh;
    overflow: hidden;
}

.contenido .imagen img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contenido .text-box {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 35vh;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}

.contenido .text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
}