{% extends 'layout.html' %}

{% block body %}
<div class="col-md-5 offset-md-4">
    <div class="card card-body">
        <form action="/update/{{club.0}}" method="POST">
            <div class="form-group">
                <label for="txtName">Nombre</label>
                <input type="text" id="txtName" placeholder="Ingrese el nombre del Club" name="fullname"
                    value="{{ club.1 }}" class="form-control"> <br>
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="text" id="txtEmail" placeholder="Ingrese el email del Club" name="email"
                    value="{{ club.2 }}" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="txtTel">Teléfono</label>
                <input type="text" id="txtTel" placeholder="Ingrese el Teléfono del Club" name="phone"
                    value="{{ club.3 }}" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="txtDir">Dirección</label>
                <input type="text" id="txtDir" placeholder="Ingrese la dirección del Club" name="direccion"
                    value="{{ club.4 }}" class="form-control"><br>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}