<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/miembros.css">
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  <title>Miembros</title>
</head>

<body>
  {% extends 'base-log.html'%}

  {% block body %}
  <div class="container-form">
    <h2>Control De Plantas</h2>
    <div class="tabla-miembro">
      <table id="miembros">
        <tr>
          <th>Planta id</th>
          <th>Raza</th>
          <th>1er trasplante</th>
          <th>2do trasplante</th>
          <th>3er trasplante</th>
          <th>Floracion</th>
          <th>Cosecha</th>
          <th>Cantidad</th>
          <th>Observaciones</th>
        </tr>
        <tr>
          <td>15</td>
          <td>Lemon</td>
          <td>15/1/2023</td>
          <td>24/3/2023</td>
          <td>10/5/2023</td>
          <td>29/5/2023</td>
          <td>15/6/2023</td>
          <td>500Gr</td>
          <td>Se esta portando mal</td>
        </tr>
        <tr>
          <td>115</td>
          <td>Hush</td>
          <td>15/1/2023</td>
          <td>24/3/2023</td>
          <td>10/5/2023</td>
          <td>29/5/2023</td>
          <td>15/6/2023</td>
          <td>500Gr</td>
          <td>sera castigada</td>
        </tr>
        <tr>
          <td>125</td>
          <td>lelu</td>
          <td>15/1/2023</td>
          <td>24/3/2023</td>
          <td>10/5/2023</td>
          <td>29/5/2023</td>
          <td>15/6/2023</td>
          <td>500Gr</td>
          <td>en bicho bicho yo me converti</td>
        </tr>
        <tr>
          <td>1115</td>
          <td>Pium</td>
          <td>15/1/2023</td>
          <td>24/3/2023</td>
          <td>10/5/2023</td>
          <td>29/5/2023</td>
          <td>15/6/2023</td>
          <td>500Gr</td>
          <td>un cocodrilo soy</td>
        </tr>

      </table>
    </div>
  </div>
  {% endblock %}
</body>

</html>