<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/miembros.css') }}">
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  <link rel="icon" href="{{ url_for('static', filename='media/Logo-verde.ico') }}">
  <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
  <title>Control de plantas</title>
  <style>
    body {background-color: #111222;}
    h2{ color: white;}
  </style>
</head>

<body>
  {% extends 'base-log.html'%}

  {% block body %}

  <div class="col-md-12">
    <h2>Control de plantas</h2>
      <table id="miembros" class="table table-stripped table-bordered bg-white table-sm">
        <thead>
          <tr>
            <th>Planta id</th>
            <th>Raza</th>
            <th>Riego</th>
            <th>Enraizado</th>
            <th>1er trasplante</th>
            <th>2do trasplante</th>
            <th>3er trasplante</th>
            <th>Floracion</th>
            <th>Cosecha</th>
            <th>Cantidad</th>
            <th>Observaciones</th>
            <th style="height: 40px;">Operaciones</th>
          </tr>
        </thead>
        <tbody>
        {% for planta in planta %}
          <tr>
            <td>{{ planta.idplanta }}</td>
            <td>{{ planta.raza }}</td>
            <td>{{ planta.Riego }}</td>
            <td>{{ planta.Enraizado }}</td>
            <td>{{ planta.paso1 }}</td>
            <td>{{ planta.paso2 }}</td>
            <td>{{ planta.paso3 }}</td>
            <td>{{ planta.floracion }}</td>
            <td>{{ planta.cosecha }}</td>
            <td>{{ planta.cantidad }}</td>
            <td>{{ planta.observaciones }}</td>

            <td>
              <a href="/editplanta/{{planta.idplanta}}" class="btn btn-secondary" id="btndit">Editar</a>
              <a href="/deleteplanta/{{planta.idplanta}}" class="btn btn-danger" id="btndlete">Borrar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
    </div>
  </div>
  {% endblock %}
</body>
<script>
  let btnEdit = document.getElementById('btndit');
  btnEdit.addEventListener('click', function() {
    alert('Seguro que desea editar el miembro?');
  });

  let btnDelete = document.getElementById('btndlete');
  btnDelete.addEventListener('click', function(event) {
    var confirmation = confirm('¿Estás seguro de que deseas eliminar el miembro?');
    if (!confirmation) {
      event.preventDefault();
      console.log('La eliminación del miembro fue cancelada.');
    }
  });
</script>

</html>