<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/miembros.css">
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  <link rel="icon" href="{{ url_for('static', filename='media/Logo-verde.ico') }}">
  <title>Control de plantas</title>
</head>

<body>
  {% extends 'base-log.html'%}

  {% block body %}

  <div class="col-md-7">
    <h2>Control de plantas</h2>
      <table id="miembros" class="table table-stripped table-bordered bg-white table-sm">
        <thead>
          <tr>
            <th>Planta id</th>
            <th>Raza</th>
            <th>Riego</th>
            <th>1er trasplante</th>
            <th>2do trasplante</th>
            <th>3er trasplante</th>
            <th>Floracion</th>
            <th>Cosecha</th>
            <th>Cantidad</th>
            <th>Observaciones</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td>{{ trazabilidad.idplanta }}</td>
            <td>{{ trazabilidad.raza }}</td>
            <td>{{ trazabilidad.Riego }}</td>
            <td>{{ trazabilidad.Enraizado }}</td>
            <td>{{ trazabilidad.paso1 }}</td>
            <td>{{ trazabilidad.paso2 }}</td>
            <td>{{ trazabilidad.paso3 }}</td>
            <td>{{ trazabilidad.floracion }}</td>
            <td>{{ trazabilidad.cosecha }}</td>
            <td>{{ trazabilidad.cantidad }}</td>
            <td>{{ trazabilidad.observaciones }}</td>

            <td>
            <a href="/edit/{{trazabilidad.idraza}}" class="btn btn-secondary">Editar</a>
            <a href="/delete/{{trazabilidad.idraza}}" class="btn btn-danger">X</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
    </div>
  </div>
  {% endblock %}
</body>

</html>