<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
<link rel="icon" href="{{ url_for('static', filename='media/Logo-verde.ico') }}">
<link rel="stylesheet" href="../../../css/edit.css">
{% extends 'base-log.html' %}
{% block body %}

<div class="col-md-5 offset-md-4">
    <div class="card card-body">
        <form action="/edit/{{ usuario.cedula }}" method="POST" onsubmit="return validar_form_trazabilidad()">
            <div class="form-group">
                <label for="txtName">Nombre</label>
                <input type="text" id="txtName" name="name" placeholder="Nombre completo"
                    value="{{usuario.name}}" class="form-control"> <br>
            </div>
            <div class="form-group">
                <label for="txtCi">Cédula</label>
                <input type="text" id="txtCi" placeholder="Cédula" name="cedula"
                    value="{{usuario.cedula}}" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="txtTelefono">Teléfono</label>
                <input type="text" id="txtTelefono" placeholder="Teléfono" name="telefono"
                    value="{{usuario.telefono}}" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="text" id="txtEmail" placeholder="Email" name="email"
                    value="{{usuario.email}}" class="form-control"><br>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-primary btn-block-miembro">
            </div>
        </form>
    </div>
</div>

{% endblock %}