<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nosotros.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <title>Nosotros</title>
</head>
    {% extends 'base-nolog.html'%}

    {% block body %}
    <table>
        <thead>
            <tr>
                <td>Nombre value="usuarionombre"</td>
                <td>Email</td>
                <td>Teléfono</td>
                <td>Dirección</td>
                <td>Operations</td>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{club.1}}</td>
                <td>{{club.2}}</td>
                <td>{{club.3}}</td>
                <td>{{club.4}}</td>
                <td>
                    <a href="/edit/{{club.0}}">Edit</a>
                    <a href="/delete/{{club.0}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</html>