<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
  <link rel="stylesheet" href="../css/miembros.css">
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  <title>Ventas</title>
</head>

<body>
  {% extends 'base-log.html'%}

  {% block body %}

  <div class="row">
    <div class="col-md-7">
      <h2>Ventas</h2>
      <table>
        <thead class="table table-stripped table-bordered bg-white table-sm">
          <tr>
            <th>ID Venta</th>
            <th>Cédula</th>
            <th>Raza</th>
            <th>Cantidad</th>
            <th>Retiro</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>

          <!-- LA TABLA DE ABAJO ES PARA MOSTRAR LAS PLANTAS-->
          {% for dato in datos %}
          <tr>
            <td>{{ dato.idventas }}</td>
            <td>{{ dato.cedula }}</td>
            <td>{{ dato.raza }}</td>
            <td>{{ dato.cantidad }}</td>
            <td>{{ dato.retiro }}</td>
            <td>
              <a href="/edit/{{dato.idventas}}" class="btn btn-secondary">Edit</a>
              <a href="/delete/{{dato.idventas}}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
      <div class="col-md-5">
        <div class="card card-body">
          <h2>Nueva Venta</h2>
          <form method="POST" autocomplete="off">
            <div class="form-group">
              <label for="txtName">Nombre Completo:</label>
              <input id="txtName" type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="txtCi">Cedula:</label>
              <input id="txtCi" type="text" name="cedulaVenta" class="form-control">
            </div>
            <div class="form-group">
              <label for="razaVenta">Raza Venta:</label>
              <input type="text" name="razaVenta" id="razaVenta" class="form-control">
            </div>
            <div class="form-group">
              <label for="cantidad">Cantidad:</label>
              <input type="number" name="cantVenta" id="cantidad" class="form-control">
            </div>
            <div class="form-group">
              <input type="submit" value="Guardar Venta" class="btn btn-primary btn-block">
            </div>
          </form>
        </div>
      </div>

  </div>
  {% endblock %}
</body>

</html>