<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

<header>
    <div class="logo"><a href="home.html"><img src="{{ url_for('static', filename='media/ediatdo.png') }}" alt="Logo de marca"></a></div>
    <nav class="opcion">
        <ul class="nav-links">
            <li><a href="home.html" class="active">Home<span></span></a></li>
            <li><a href="nosotros.html">Nosotros<span></span></a></li>
            <li><a href="equipo.html">Equipo<span></span></a></li>
            <li><a href="road-map.html">Road Map<span></span></a></li>
            <li><a href="contact.html">Contacto<span></span></a></li>
            <!-- <li><a href="miembros.html">loginpage<span></span></a></li> -->
        </ul>
    </nav>
    <ul class="opciones">
        <li class="opcion">
            <span class="opcion-text"><a class ="link" href="login.html">login</a></span>
        </li>
    </ul>
</div>
</header>
<body>
    {% block content %}
    
    {% endblock %}
    <footer id="myFooter" class="footer-distributed">

        <div class="footer-left">
            <h3>Clubie</h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">Nosotros</a>
                |
                <a href="#">Equipo</a>
                |
                <a href="#">Contacto</a>
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>Clubie</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Zonamerica</span>
                    Montevideo</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>Numero de telefono</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="adm.clubie@gmail.com">adm.clubie@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Sobre nosotros</span>
                <strong>Clubie</strong> lalalalalalalalalalalalalalalalalala
                lala
                lalalalalalal
                lalalalalalalalalalalala
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</body>