<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/miembros.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <title>Miembros</title>
</head>
<body>
    {% extends 'base-log.html' %}

    {% block content %}
    <div class="container-form">
        <h2>Miembros</h2>
        <div class="tabla-miembro">
            <table id="miembros">
              <tr>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Teléfono</th>
                <th>Email</th>
            </tr>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.name }}</td>
                <td>{{ cliente.cedula }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.email }}</td>
            </tr>
            {% endfor %}
              </table>
        </div>
        <div class="form-miembro">
            <p>Nuevo Miembro</p>
            <form method="POST" autocomplete="off">
                <input type="text" name="name" placeholder="Nombre completo" class="campo">
                <input type="text" name="cedula" placeholder="Cedula" class="campo">
                <input type="text" name="telefono" placeholder="Teléfono" class="campo">
                <input type="text" name="email" placeholder="Email" class="campo">
                <input type="submit" value="Cargar miembro" class="btn-miembro">
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>
