<meta charset="utf-8">
    <title>Clubie | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/cb8886a847.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ url_for('static', filename='media/Logo-verde.ico') }}">


    <body class="cuerpo">
        <header>
            <div class="logo"><a href="home.html"><img src="../../static/media/editado.png" alt="Logo de marca"></a></div>
            <nav class="opcion">
                <ul class="nav-links">
                    <li><a href="home.html" class="active">Home<span></span></a></li>
                    <li><a href="nosotros.html">Nosotros<span></span></a></li>
                    <li><a href="equipo.html">Equipo<span></span></a></li>
                    <li><a href="road-map.html">Road Map<span></span></a></li>
                    <li><a href="contact.html">Contacto<span></span></a></li>
                    <li><a href="miembros.html">loginpage<span></span></a></li>
                </ul>
            </nav>
            <ul class="opciones">
                <li class="opcion">
                    <span class="opcion-text"><a class ="link" href="login.html">login</a></span>
                </li>
            </ul>
        </div>
        </header>
        <div class="login-box">
            <img class="avatar" src="../../static/media/Logo-verde.png" alt="logo">
            <h1>Ingresar</h1>
            <form action="../miembros.html">
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" required><br><br>
        
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required><br><br>
        
                <input type="submit" value="Log in">
            </form>
        </div>
        <script>
            function mostrarAlerta() {
                document.getElementById("alerta").style.display = "block";
            }

            document.getElementById("miBoton").addEventListener("click", function() {
                mostrarAlerta();
            });
        </script>
    </body>