<meta charset="utf-8">
    <title>Clubie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../css/login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/estil.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/cb8886a847.js" crossorigin="anonymous"></script>

<body class="cuerpo">
    {% extends 'base-nolog.html'%}
    {% block content %}
    <div class="login-box">
        <img class="avatar" src="../../../css/media/Logo-verde.png" alt="logo">
        <h1>Ingresar</h1>
        <form>
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Ingresar Username">

            <label for="password">Contraseña</label>
            <input type="text" id="password" placeholder="Ingresar Contraseña">

            <input type="submit" value="Log in">

            <a href="#">Olvide mi Contraseña</a><br>
            <a href="#">No tengo cuenta, <b>Contactanos</b></a>
        </form>
    </div>
    {% endblock %}
</body>