<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nosotros.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <title>Nosotros</title>
</head>
<body>
    {% extends 'base-nolog.html'%}

    {% block content %}
    <div class="container-nosotros">
        <div class="card-nosotros">
            <figure>
                <img src="../../../css/media/mision.png">
                <div class="container">
                    <h3>Mision</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus consequatur unde similique iusto autem voluptatibus. Neque quis exercitationem dolorum consequatur!</p>
                </div>
            </figure>
        </div>
        <div class="card-nosotros">
            <figure>
                <img src="../../../css/media/vision.png">
                <div class="container-nosotros">
                    <h3>Vision</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus consequatur unde similique iusto autem voluptatibus. Neque quis exercitationem dolorum consequatur!</p>
                </div>
            </figure>
        </div>
        <div class="card-nosotros">
            <figure>
                <img src="../../../css/media/valores.png">
                <div class="container-nosotros">
                    <h3>Valores</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus consequatur unde similique iusto autem voluptatibus. Neque quis exercitationem dolorum consequatur!</p>
                </div>
            </figure>
        </div>
    </div>
    {% endblock %}
</body>
</html>