<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Club</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
</head>
<body>
    <div class="container pt-4">
        <h1>Registrar Club</h1>
    
        <div class="row">
            <div class="col-md-5">
                <div class="card card-body">
                    <form action="/add_club" method="POST">
                        <div class="form-group">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>